:root {
	--main-font-color: #4af626;
}

html {
	font-family: "Menlo", sans-serif;
	background: black;
	color: var(--main-font-color);
}

body {
	padding: 0 20px;
	font-size: 1.25rem;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

hr {
	color: var(--main-font-color);
}

.text-white {
	color: white;
}

.text-bold {
	font-weight: bold;
}

a,
a:visited,
a:focus {
	color: var(--main-font-color);
}

nav#mainNav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-transform: uppercase;
	margin: 30px 0;
}
