.wrapper {
	border: 1px solid var(--main-font-color);
}

.wrapper > .top-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid var(--main-font-color);
}

.wrapper > .top-bar > .btn-group .btn {
	display: inline-block;
	height: 20px;
	width: 20px;
	margin: 10px;
}

.wrapper > .top-bar > .btn-group .btn:nth-child(1) {
	background-color: #ff453a;
}

.wrapper > .top-bar > .btn-group .btn:nth-child(2) {
	background-color: #ff9f0a;
}

.wrapper > .top-bar > .btn-group .btn:nth-child(3) {
	background-color: #30d158;
}

.wrapper > .content {
	padding: 20px;
	display: grid;
	grid-template-columns: repeat(5, auto);
}

.wrapper > .content > .img-container {
	text-align: center;
	color: white;
	padding: 15px 0px;
}

.wrapper > .content > .img-container > span {
	display: inline-block;
}

.wrapper > .content > .img-container img {
	height: 64px;
	/* filter: grayscale(100%); */
	transition: all 0.5s;
}

.wrapper > .content > .img-container > span:hover img {
	filter: grayscale(0%);
	transform: rotateY(360deg);
}
