ul.education-list {
	list-style: none;
	padding: 0 40px;
}

ul.education-list li .title-bar {
	display: flex;
	align-items: center;
}

ul.education-list li .title-bar .title {
	font-size: 48px;
	opacity: 0.5;
	padding-right: 40px;
	margin-right: 40px;
	border-right: 3px solid var(--main-font-color);
	text-transform: uppercase;
}

ul.education-list li .sub-title-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

ul.education-list li .sub-title-bar .date {
	font-style: italic;
	font-size: 1rem;
}

ul.description {
	color: white;
	list-style: square;
}
